.homepage-container {
  margin: 0;
  padding: 0;
  height: auto;
  background-image: url("/homepageBackground_combined.png");
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: left top; /* Centers the image */
  background-repeat: repeat; /* Prevents the image from repeating */
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  top: 0;
  position: relative;
  width: 100%;
}

@media (max-width: 12.425rem) {
  .homepage-container {
    width: 20rem;
  }
}

